
#portfolio p{
    text-align: left;    
}
#portfolio p a img{
    max-width:15%;
}
#portfolio p a, #portfolio p a img{
    display: inline-block;
    clear: left;
}
div#game,div#game canvas{
    display: block !important;
    margin:0px auto !important;
}
#portfolio h2{
    text-align: center;
}