/* ---- color scheme ----*/
:root {
  --text-color: #000000;
  --accent-color:#008833;
}

/* ---- reset ---- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Open Sans';
  color:var(--text-color);
}
body {
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration:none;
}
a:hover{
  color:var(--accent-color);
}
ul{
  list-style:none;
  padding:0px;
}
img{
  max-width: 100%;
  width:45%;
}
/* ---- ----*/
/* ---- nav ---- */
nav{
  position:fixed;
  top:0px;
  width:100%;
  border-bottom:solid 1px var(--accent-color);
  
}
nav ul{
  display:flex;
  justify-content:space-between;
  padding:0 20%;
}
nav ul li a{
  text-transform:uppercase;
  font-weight:bold;
}
/* ---- ---- */
/* ---- main ---- */
main{
  
  width:70%;
  margin:60px auto;
}