/* ---- color scheme ----*/
:root {
  --text-color: #000000;
  --accent-color:#008833;
  --background-color:#ffffff;
}

/* ---- reset ---- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Open Sans';
  color:var(--text-color);
}
body {
  margin: 0px;
  padding: 0px;
}
a{
  color:var(--accent-color);
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
ul{
  list-style:none;
  padding:0px;
}
img{
  max-width: 100%;
  width:45%;
}
/* ---- ----*/
/* ---- nav ---- */
nav{
  position:fixed;
  top:0px;
  width:100%;
  border-bottom:solid 1px var(--accent-color);
  background-color:var(--background-color);
}
nav ul{
  display:flex;
  justify-content:space-between;
  padding:0 20%;
}
nav ul li a{
  color:var(--text-color);
  text-transform:uppercase;
  font-weight:bold;
}
nav ul li a:hover{
  color:var(--accent-color);
}
/* ---- ---- */
/* ---- main ---- */
main{
  
}
main section{
  width:70%;
  margin:60px auto;
}
#home{
  text-align:center;
}
#home img{
  max-width:50%;
  width:25%;
}
