*{
    font-family: 'Roboto', Arial, sans-serif;
}
body{
    background:#f8f9fa;
    margin:0px;
}
div{
    border:solid 1px #dadce0;
    border-radius:5px;
    background:#ffffff;
   
}
#header span{
    font-weight: bold;
}
textarea, #filename{
    padding:5px;
    border-radius:5px;
    border-color:#5f6368;
    width:95%;
    min-width:95%;
    max-width:95%;
    display:block;
    margin:5px auto;
    resize: none;
    font-family: Arial, sans-serif;
}
#filename{
    padding:10px;
    width: 45%;
    min-width:45%;
    max-width:45%;
    text-align: center;
}

#header{
    background-color: #f0f0f0; 
    padding: 5px; 
    text-align: center;
    position: sticky; 
    top: 0; 
    margin-bottom: 5px ;
}
#header h1{
    font-size: 24px;
}
#content{
    display: flex;
    height: 100vh;
    flex-direction:column;
}
#content #result{
      flex: 3;
      overflow-y: auto; 
      padding: 10px; 
}
#markdown-preview{
    padding:10px;
    width:80%;
    margin:0px auto;
}
#content #editor{
      flex: 1; 
      position: sticky; 
      bottom: 0; 
      background-color: #e0e0e0; 
      padding: 10px; 
}
button{
    display:block;
    margin:10px auto;
    padding:10px;
    width:45%;
    float:right;
}
#controls{
    background-color:transparent;
    width:50%;
    margin:0px auto;
}
#controls input, #controls button{
    display:inline-block;
    margin:0px auto;
}